<div class="text-center">
    <h1>Kódfeltöltés</h1>
    <form>
        <div class="form-group">
            <label for="inputEmail">E-MAIL CÍM:</label>
            <input type="text" class="form-control" id="inputEmail">
        </div>
        <div class="form-group">
            <label for="inputCode">KÓD:</label>
            <input type="text" class="form-control" id="inputCode">
        </div>
        <div class="mt-5">
            <h5>VÁSÁRLÁS DÁTUMA:</h5>
            <div class="d-inline">
                <label for="selectDate">NAP:</label>
                <select class="form-select" id="selectDate">
                    <option *ngFor="let date of dates" value="{{date}}">{{ this.datepipe.transform(date, 'yyyy.MM.dd') }}</option>
                </select>
            </div>
            <label for="selectHour">ÓRA:</label>
            <select class="form-select" id="selectHour">
                <option *ngFor="let hour of time" value="{{hour}}">{{ hour }}</option>
            </select>
            <label for="selectMinutes">PERC:</label>
            <select class="form-select" id="selectMinutes">
                <option *ngFor="let second of time" value="{{second}}">{{ second }}</option>
            </select>
        </div>
        <input type="submit" class="btn btn-primary rounded-pill mt-4 w-100" value="Kódfeltöltés">
    </form>
</div>